# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/
target/rls
# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok

# Build artifacts
*.wasm
hash.txt
contracts.txt
artifacts/

contracts/ibc-gamm-osmosis/target/
contracts/pool-api/target/
contracts/pool-manager/target

# code coverage
tarpaulin-report.*